:root{
    --text-color: #DBE4EF;
    --card-fron-color: #144480;
    --cards-back-color: #00F48F;
}

body{
    font-family: bai janjuree;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    margin:1rem;
    height: 20;
    flex-basis: calc(33%-6rem);
}

.catao__conteudo{
    text-align: center;
    background-color: var(--card-back-color);
    height: 100%;
   /* background-color: aquamarine;*/
    transform-style: preserve-3d;
    transition: 300ms ease-in-out;

}
.cartao__conteudo h3{
    color: var(--text-color);
    text-align: left;
    padding: 0 5rem;
    position: absolute;
    margin: 0%.6rem;
    font-size: 1vw;
    border: 1px solid var(--text-color);
    backface-visibility: hidden;
}



.cartao__conteudo p{
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;

}


.cartao__conteudo p{
    color: var(--text-color);
    font-weight: 500;   
}

.cartao__conteudo__reposta{
    color: var(--text-color);
    font-weight: 700;
}
     .cartao_houver.cartao__conteudo{
        transform: rotateY(180deg);
     }
    .cartao_conteudo_perunta 
     .cartao__conteudo__reposta{
        backface-visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;

     }
footer{
    background-color: 
    black;
    color: white;
    position: fixed;
    bottom: 100%;
    width: 100%;
    
}
